---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Override the authorâ€profile avatar: make it rectangular and larger */
.author__avatar img {
  border-radius: 0 !important;     /* kill the circle mask */
  max-width: 400px !important;     /* your desired width */
  width: auto !important;
  height: auto !important;
}
